<!DOCTYPE html>
<html>
<head>
<style>
    table {
        border: 2px solid black;
    }
</style>
<title>MovieRama</title>
</head>
<body>
<h1>MovieRama</h1>
    <form action="" method="get">
        {{ form.search_term }} &nbsp; <input type="submit" value="Search" />
        <br><br>
        <em>{{ form.is_adult.label }} Tick for yes ;) {{ form.is_adult }}</em>
        <br><br>
        {{ form.page.as_hidden }}
    </form>
    <br>
    {% if total_results == 1 %}
        {{ total_results }} movie found
    {% else %}
        {{ total_results }} movies found
    {% endif %}
    <br><br>
    {% if prev_url %}<a href="{{ prev_url }}">Previous</a>{% endif %}
    {% if next_url %}<a href="{{ next_url }}">Next</a>{% endif %}
    <br><br>
    {% for movie in results.values %}
        <table>
            <tr>
                <td><img src="{{ movie.poster_url }}" alt="Movie Poster"></td>
                <td></td>
                <td>
                    <h2>{{ movie.movie_title }}</h2>
                    {{ movie.year_of_production }} - <b>STARING</b>
                    {% for actor in movie.starring_actors|slice:":3" %}
                      {{ actor.name }} &nbsp;&nbsp;
                    {% endfor %}
                    <br><br>
                    {{ movie.movie_overview }}
                    <br><br>
                    {% if movie.total_reviews == 1 %}
                        {{ movie.total_reviews }} review
                    {% else %}
                        {{ movie.total_reviews }} reviews
                    {% endif %}
                </td>
            </tr>
        </table>
        <br><br>
    {% endfor %}
    </body>
</html>
